<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>15A9B0F8-37BF-47BA-8218-FE10064770D3</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>15A9B0F8-37BF-47BA-8218-FE10064770D3</key>
			<dict>
				<key>items</key>
				<array>
					<string>D076CCF0-FFB7-4C06-A5D0-97339BD42CD0</string>
				</array>
				<key>name</key>
				<string>Background</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>CSS-Handcrafted</string>
	<key>ordering</key>
	<array>
		<string>D076CCF0-FFB7-4C06-A5D0-97339BD42CD0</string>
		<string>A10EE371-8B26-4FB2-8365-F512C512ABE3</string>
	</array>
	<key>uuid</key>
	<string>F3DFAAD3-32C5-4B3F-B492-09AA92580751</string>
</dict>
</plist>
