<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>15A9B0F8-37BF-47BA-8218-FE10064770D3</string>
			<string>6C85CECD-6118-4063-8AEF-4B5874892FF4</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>15A9B0F8-37BF-47BA-8218-FE10064770D3</key>
			<dict>
				<key>items</key>
				<array>
					<string>D076CCF0-FFB7-4C06-A5D0-97339BD42CD0</string>
					<string>A10EE371-8B26-4FB2-8365-F512C512ABE3</string>
					<string>32B7B151-17CB-4DA4-AC0B-7D02BC606403</string>
				</array>
				<key>name</key>
				<string>Background</string>
			</dict>
			<key>6C85CECD-6118-4063-8AEF-4B5874892FF4</key>
			<dict>
				<key>items</key>
				<array>
					<string>941ED898-9A5A-4F13-888D-97854F76F13F</string>
					<string>EA26C7C8-AB46-41D3-A94D-57325AEAC76B</string>
					<string>BAD81B21-580E-4B6D-B3A0-BA049B1114F3</string>
					<string>30DF5494-9CEE-4170-A5A9-636580A1C72E</string>
					<string>19459195-6381-4A19-AD63-EAA082189213</string>
				</array>
				<key>name</key>
				<string>Border</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>CSS-Handcrafted</string>
	<key>ordering</key>
	<array>
		<string>D076CCF0-FFB7-4C06-A5D0-97339BD42CD0</string>
		<string>A10EE371-8B26-4FB2-8365-F512C512ABE3</string>
		<string>32B7B151-17CB-4DA4-AC0B-7D02BC606403</string>
		<string>EA26C7C8-AB46-41D3-A94D-57325AEAC76B</string>
		<string>BAD81B21-580E-4B6D-B3A0-BA049B1114F3</string>
		<string>30DF5494-9CEE-4170-A5A9-636580A1C72E</string>
		<string>19459195-6381-4A19-AD63-EAA082189213</string>
		<string>941ED898-9A5A-4F13-888D-97854F76F13F</string>
		<string>D69E7EB0-07E2-48A3-AD32-A7C3E6CAFBBC</string>
	</array>
	<key>uuid</key>
	<string>F3DFAAD3-32C5-4B3F-B492-09AA92580751</string>
</dict>
</plist>
